Samples/ARDrawingAndroid/ARDrawingApp/libs/armeabi-v7a/
Samples/ARDrawingAndroid/ARDrawingApp/obj/local/
Samples/ARDrawingAndroid/.idea/
Samples/ARDrawingWindows/ARDrawingApp/ARDrawingApp.sdf
Samples/ARDrawingWindows/ARDrawingApp/ARDrawingApp.v12.suo
Samples/ARDrawingWindows/ARDrawingApp/ARDrawingApp/Debug/
Samples/ARDrawingWindows/ARDrawingApp/Debug/
Samples/ARDrawingWindows/ARDrawingApp/ARDrawingApp/Release/
Samples/ARDrawingWindows/ARDrawingApp/ARDrawingApp/x64/Release/
Samples/ARDrawingWindows/ARDrawingApp/Release/
Samples/ARDrawingWindows/ARDrawingApp/x64/Release/
Samples/ARDrawingWindows/ARDrawingApp/ARDrawingApp.opensdf
.idea/
Samples/ARDrawingWindows/ARDrawingApp/ARDrawingApp/x64/Debug/
Samples/ARDrawingWindows/ARDrawingApp/ARDrawingApp/~AutoRecover.ARDrawingApp.vcxproj
Samples/ARDrawingWindows/ARDrawingApp/x64/Debug/
Samples/ARMemoWindows/ARMemoApp/x64/Release/
Samples/ARMemoWindows/ARMemoWindows.opensdf
Samples/ARMemoWindows/ARMemoWindows.sdf
*.armemo
Samples/ARMemoWindows/ARMemoApp/Release/
Samples/ARMemoWindows/Release/
Samples/ARMemoWindows/x64/Release/
Samples/ARMemoWindows/ARMemoWindows.v12.suo
